@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --black: #363739;
    --white: #ffffff;

    --bright: #f7da7c;

    --accent1: #f4bab9;
    --accent2: #b2c79f;
    --accent3: #ef9691;
}

:root {
    --color-background: var(--white);
    --color-text: var(--black);
    --color-button: var(--bright);
    --color-link: var(--accent3);
    --color-border: var(--black);

    --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* TODO: add dark mode colors */
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
