@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --black: #363739;
    --white: #ffffff;
    --grey: #cbcbcb;
    --light-grey: #f2f2f2;
    --green: #95e35d;
    --red: #ef9691;
    --light-green: #b3f385;

    --bright: #f7da7c;

    --accent1: #f4bab9;
    --accent2: #95e35d;
    --accent3: #ef9691;
}

:root {
    --color-background: var(--white);
    --color-text: var(--black);
    --color-button: var(--green);
    --color-button-disabled: var(--grey);
    --color-nav-hover: var(--light-grey);
    --color-button-hover: var(--light-green);

    --color-link: var(--accent3);
    --color-border: var(--black);

    --section-gap: 160px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family: 'Karla', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
